[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pillow = "*"
pyproj = "*"
sentry-sdk = "*"
imagehash = "*"
coveralls = "*"
coverage = "*"
flake8 = "*"

[dev-packages]
black = "==20.8b1"

[requires]
python_version = "3.9"
