name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_SIZE: 800
    steps:
      - uses: actions/checkout@v2.3.2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install pipenv
        run: pip install pipenv
      - name: Install packages
        run: pipenv install --deploy --dev --system
      - name: Run tests
        run: pipenv run python -m unittest
        env:
          KORTFORSYNINGEN: ${{ secrets.KORTFORSYNINGEN }}
          GEO_KEY: ${{ secrets.GEO_KEY }}

      - name: Creating coverage
        run: pipenv run coverage run --source=. -m unittest
        env:
          KORTFORSYNINGEN: ${{ secrets.KORTFORSYNINGEN }}
          GEO_KEY: ${{ secrets.GEO_KEY }}

      - name: Uploading Coverage
        run: pipenv run coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

      - name: Checking black
        run: pipenv run black --check .
      - name: Checking Flake8
        run: pipenv run flake8 --max-complexity 8 .
